*{
    padding: 0;
    margin: 0;
    text-align: center;
    position: relative;
}


.another1{
    background-image: linear-gradient( rgba(134, 115, 115, 0.74),rgba(5, 5, 5, 0.623)), url(room.jpg);
    background-position: bottom center;
    background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
       color: rgb(255, 255, 255);
    padding: 260px 0;
    font-size: 18px;
}


.this-edt1{
   border-bottom: 4px solid rgba(50, 197, 62, 0.685);
   display: inline-block;
    letter-spacing: 2px;
    font-size: 37px;
    font-family: 'Grandstander', cursive;
    font-size: 48px;
    background: rgba(255, 255, 255, 0.685);
    padding: 10px;
    border-radius: 10px;
    position: relative;
    bottom: 40px;
    right: 10px;
 
}


.p1{
    color: rgba(255, 255, 255, 0.938);
    position: relative;
    bottom: 30px;
    font-size: 20px;
    
}



.maj2{
    background: rgb(106, 207, 115);
    padding: 40px 40px;
}


.maj2:hover{
    background: rgba(248, 67, 67, 0.822);
    cursor: pointer;
    transition: .5s;
}



.another2{
    background-image: linear-gradient( rgba(134, 115, 115, 0.74),rgba(5, 5, 5, 0.623)), url(asinment.jpg);
    background-position: bottom center;
    background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
       color: rgb(255, 255, 255);
       padding: 260px 0;
    font-size: 18px;
}




.this-edt2{
    border-bottom: 3px solid rgba(243, 11, 11, 0.685);
   display: inline-block;
    letter-spacing: 1px;
    font-size: 29px;
 font-family: 'Grandstander', cursive;
 color: rgb(0, 0, 0);
}


.p2{
    color: rgba(255, 255, 255, 0.938);
    font-size: 22px;
    
}



.this-edt1 span{
    animation: animate 1s linear infinite;
} 

.this-edt2 span{
    animation: animate 1s linear infinite;
} 



.this-edt1 span
{
               animation-delay: 0s;
}


.this-edt2 span
{
               animation-delay: 0s;
}



@keyframes animate
{
    0%,100%
    {
             color: rgb(35, 172, 172);
             filter: blur(4px);
             text-shadow: 0 0 10px #00b3ff,
                         0 0 20px #00b3ff,
                         0 0 40px #00b3ff,
                         0 0 40px #00b3ff,

    }
    5%,95%
    {
             color: rgb(0, 0, 0);
             filter: blur(0px);
             text-shadow: none,
    }
}


.maj5{
    background: rgb(106, 207, 115);
    padding: 40px 40px;
}


.maj5:hover{
    background: rgba(248, 67, 67, 0.822);
    cursor: pointer;
    transition: .5s;
}


.another5{
    background-image: linear-gradient( rgba(37, 35, 35, 0.74),rgba(76, 85, 77, 0.623)), url(library.jpg);
    background-position: center;
    background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
       padding: 260px 0;
}



.this-edt5{
    border-bottom: 4px solid rgba(214, 28, 28, 0.685);
   display: inline-block;
    letter-spacing: 2px;
    font-size: 37px;
 font-family: 'Grandstander', cursive;
 color: rgb(255, 255, 255);
}

.p5{
    color: white;
    font-size: 22px;
}


.this-edt5 span{
    animation: animate 1s linear infinite;
} 


.this-edt5 span
{
               animation-delay: 0s;
}






.maj6{
    background: rgb(106, 207, 115);
    padding: 40px 40px;
}


.maj6:hover{
    background: rgba(248, 67, 67, 0.822);
    cursor: pointer;
    transition: .5s;
}


.another6{
    background-image: linear-gradient( rgba(37, 35, 35, 0.74),rgba(76, 85, 77, 0.623)), url(lab.jpg);
    background-position: top center;
    background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
       padding: 260px 0;
}



.this-edt6{
    border-bottom: 4px solid rgba(214, 28, 28, 0.685);
   display: inline-block;
    letter-spacing: 2px;
    font-size: 37px;
 font-family: 'Grandstander', cursive;
 color: rgb(255, 255, 255);
}

.p6{
    color: white;
    font-size: 22px;
}


.this-edt6 span{
    animation: animate 1s linear infinite;
} 


.this-edt6 span
{
               animation-delay: 0s;
}




.maj3{
    background: rgb(106, 207, 115);
    padding: 40px 40px;
}


.maj3:hover{
    background: rgba(248, 67, 67, 0.822);
    cursor: pointer;
    transition: .5s;
}


.another3{
    background-image: linear-gradient( rgba(182, 35, 35, 0.739),rgba(16, 49, 13, 0.664)), url(mother\ day.jpg);
    background-position: top center;
    background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
       padding: 260px 0;
}



.this-edt3{
    border-bottom: 4px solid rgba(214, 28, 28, 0.685);
   display: inline-block;
    letter-spacing: 2px;
    font-size: 33px;
 font-family: 'Grandstander', cursive;
 color: rgb(255, 255, 255);
}

.p3{
    color: rgb(255, 247, 247);
    font-size: 18px;
}


.this-edt3 span{
    animation: animate 1s linear infinite;
} 


.this-edt3 span
{
               animation-delay: 0s;
}




.maj4{
    background: rgb(106, 207, 115);
    padding: 40px 40px;
}


.maj4:hover{
    background: rgba(248, 67, 67, 0.822);
    cursor: pointer;
    transition: .5s;
}


.another4{
    background-image: linear-gradient( rgba(134, 115, 115, 0.74),rgba(5, 5, 5, 0.623)), url(pitha.jpg);
    background-position: bottom center;
    background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
       padding: 260px 0;
}



.this-edt4{
    border-bottom: 4px solid rgba(214, 28, 28, 0.685);
   display: inline-block;
    letter-spacing: 2px;
    font-size: 37px;
 font-family: 'Grandstander', cursive;
 color: rgb(255, 255, 255);
}

.p4{
    color: white;
    font-size: 22px;
}


.this-edt4 span{
    animation: animate 1s linear infinite;
} 


.this-edt4 span
{
               animation-delay: 0s;
}

